<form id="myform" name="myform" method="post" action="popup url" target="popup_window">
    <input name="param1" value="1" />
    <input name="param2" value="2" />
    <input name="param3" value="3" />
    <input name="param4" value="4" />
    <input name="param5" value="5" />
</form>

<button type="button" id="btn_submit">전송</button>